<!-- BEGIN Container -->
<div class="container" id="container">

  <!-- BEGIN Header -->
  <header class="header">
    <img src="/img/avatar.png" alt="Eric Mey">
    <h1>Eric Mey</h1>
    <p>Experienced Node.js / JavaScript Software Engineer, Team Leader, Solutions Architect, and Web Junkie</p>

    <!-- BEGIN Navigation -->
    <ul class="vs-nav">
      <li><a href="#/about">about me</a></li>
      <li><a href="#/projects">projects</a></li>
      <li><a href="#/blog">blog</a></li>
      <li><a href="#/contact">contact</a></li>
      <li><a href="#/resume">resume</a></li>
    </ul>
    <!-- END Navigation -->

    <!-- BEGIN Search -->
    <div class="header-search">
      <form role="search" method="get" id="search-form" action="#">
        <input type="text" name="s" id="search" value="" placeholder="ENTER KEYWORD">
        <input type="submit" id="search-submit" value="→" title="Search">
      </form>
    </div>
    <!-- END Search -->
  </header>
  <!-- END Header -->

  <!-- BEGIN Wrapper -->
  <div class="wrapper">
