<footer>
  <div class="main wrapper clearfix">
    <div class="foot right">
      <a href="https://www.facebook.com/ericmey" target="_blank" class="social-link">
        <img src="/img/icon-facebook@2x.png" alt="Facebook"/>
      </a>
      &nbsp;
      <a href="https://twitter.com/ericmey" target="_blank" class="social-link">
        <img src="/img/icon-twitter@2x.png" alt="Twitter"/>
      </a>
      &nbsp;
      <a href="https://www.linkedin.com/in/ericmey" target="_blank" class="social-link">
        <img src="/img/icon-linkedin@2x.png" alt="LinkedIn"/>
      </a>
    </div>
    <div class="foot left">
      <a href="index.html" class="logo-foot">
        <img src="/img/logo-foot@2x.png" alt="logo"/>
      </a>
      &copy; Copyright {{ site.time | date: "%Y" }}
    </div>
  </div>
</footer>
