<meta name="application-name" content="Eric Mey">

<!-- Chrome Touch Icon: android devices -->
<link rel="icon" type="image/png"        sizes="192x192" href="/img/ico/touch-icon-192x192.png">

<!-- Apple Touch Icon: retina iPhone 6/6s Plus devices -->
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/ico/apple-touch-icon-180x180-precomposed.png">
<!-- Apple Touch Icon: retina iPad devices -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/ico/apple-touch-icon-152x152-precomposed.png"> <!-- iOS 7 and later -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/ico/apple-touch-icon-144x144-precomposed.png"> <!-- iOS 6 and Earlier -->
<!-- Apple Touch Icon: retina iPhone devices -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/ico/apple-touch-icon-120x120-precomposed.png"> <!-- iOS 7 and later -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/ico/apple-touch-icon-114x114-precomposed.png"> <!-- iOS 6 and Earlier -->
<!-- Apple Touch Icon: non-retina iPad devices -->
<link rel="apple-touch-icon-precomposed" sizes="76x76"   href="/img/ico/apple-touch-icon-76x76-precomposed.png">   <!-- iOS 7 and later -->
<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/img/ico/apple-touch-icon-72x72-precomposed.png">   <!-- iOS 6 and Earlier -->
<!-- Apple Touch Icon: non-retina iPhone devices -->
<link rel="apple-touch-icon-precomposed"                 href="/img/ico/apple-touch-icon-precomposed.png">         <!-- 57x57 -->

<!-- Favicon -->
<link rel="icon" sizes="228x228" type="image/png" href="/img/ico/favicon-228x228.png">
<link rel="icon" sizes="195x195" type="image/png" href="/img/ico/favicon-195x195.png">
<link rel="icon" sizes="128x128" type="image/png" href="/img/ico/favicon-128x128.png">
<link rel="icon" sizes="64x64"   type="image/png" href="/img/ico/favicon-64x64.png">
<link rel="icon" sizes="48x48"   type="image/png" href="/img/ico/favicon-48x48.png">
<link rel="icon" sizes="32x32"   type="image/png" href="/img/ico/favicon-32x32.png">
<link rel="icon" sizes="16x16"   type="image/png" href="/img/ico/favicon-16x16.png">

<!-- Internet Explorer Insanity -->
<!--[if IE]><link rel="shortcut icon" href="/img/ico/favicon.ico"><![endif]-->
<meta name="msapplication-TileColor"         content="#5BCF80">
<meta name="msapplication-TileImage"         content="/img/ico/tileicon-144x144.png">
<meta name="msapplication-wide310x150logo"   content="/img/ico/tileicon-310x150.png"/>
<meta name="msapplication-square310x310logo" content="/img/ico/tileicon-310x310.png"/>
<meta name="msapplication-square150x150logo" content="/img/ico/tileicon-150x150.png"/>
<meta name="msapplication-square70x70logo"   content="/img/ico/tileicon-70x70.png"/>
