<div id="{% if include.masthead == 'true' %}masthead{% endif %}" class="header-container">
  <header class="wrapper clearfix"><a href="index.html" class="logo"><img src="/img/logo@2x.png" alt="Logo"/></a>
    <nav>
      <ul id="nav" class="nav">
        <li><a href="/index.html" class="{% if page.slug == 'home' %}active{% endif %}">Home</a></li>
        <li><a href="/resume.html" class="{% if page.slug == 'resume' %}active{% endif %}">Resume</a></li>
        <li><a href="https://github.com/ericmey" target="_blank">Code</a></li>
        <li><a href="/blog.html" class="{% if page.slug == 'blog' %}active{% endif %}">Blog</a></li>
        <li class="last"><a href="/contact.html" class="{% if page.slug == 'contact' %}active{% endif %}">Contact</a></li>
      </ul>
    </nav>
  </header>
  {% if include.masthead == 'true' %}
  <div class="wrapper clearfix">
    <div class="cta two-third">
      <h1>You Idiots!</h1>
      <h3>These are not them! You’ve captured their stunt doubles!</h3>
      <h5>— Spaceballs</h5><br/>
      <p>No more boring V-Cards, Selfy is the perfect theme for self promotion. A little piece of the internet all about you, customise and self express with Selfy...&nbsp;<a href="styles.html">Read More</a></p>
    </div>
  </div>
  {% endif %}
</div>
