<!-- BEGIN About Section -->
<section class="page" id="about">
  <div class="content">

    <div class="row">
      <div class="col-md-8">
        <!-- BEGIN Intro -->
        <h2 class="section-title"><span><i class="icon-guest"></i>A LITTLE ABOUT ME</span></h2>
        <!-- END Intro -->
      </div>

      <div class="col-md-4">
        <!-- BEGIN Twitter Feed -->
        <h2 class="section-title"><span><i class="icon-twitter"></i>LATEST TWEETS</span></h2>
        <div class="widget-twitter" id="latest-tweets" data-twitter-id="672531412113891328" data-tweet-count="1" data-include-retweets="false"></div>
        <!-- END Twitter Feed -->
      </div>
    </div>

    <!-- BEGIN Focus -->
    <h2 class="section-title"><span><i class="fa fa-magic"></i>FOCUS</span></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
    </div>
    <!-- END Focus -->

    <!-- BEGIN Process -->
    <h2 class="section-title"><span><i class="fa fa-magic"></i>PROCESS</span></h2>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
      </div>
    </div>
    <!-- END Process -->

    <!-- BEGIN Fun -->
    <h2 class="section-title"><span>FUN FACT</span></h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
      <div class="col-sm-6 col-md-3">
      </div>
    </div>
    <!-- END Fun -->
  </div>
</section>
<!-- END About Section -->
