<!-- BEGIN Contact Section -->
<section class="page" id="contact">
  <div class="content">

    <div class="row">
      <div class="col-md-6">

        <!-- BEGIN Address Book -->
        <h2 class="section-title"><span><i class="icon-address-book"></i>LET'S GET IN TOUCH</span></h2>
        <div class="letter">
          <h4 class="letter-title">Eric Mey</h4>

          <div class="stamp">
            <img src="/img/stamp-image.png" alt="stamp">
          </div>

          <div class="letter-info">
            <p><i class="icon-at"></i>ericmey@me.com</p>
            <p><i class="icon-phone"></i>(317) 417-5280</p>
            <p><i class="icon-location"></i>Carmel, IN</p>
          </div>
        </div>
        <!-- END Address Book -->

        <!-- BEGIN Contact Form -->
        <h2 class="section-title"><span><i class="icon-paper-plane"></i>DROP ME A LINE</span></h2>
        <div class="contact-form">
          <form id="contact-form" action="#" method="post">
            <input type="hidden" name="subject" id="subject" value="You have a new message from your website!">
            <p>
              <label for="name">NAME</label>
              <input type="text" name="name" id="name" class="required">
            </p>
            <p>
              <label for="email">EMAIL</label>
              <input type="text" name="email" id="email" class="required email">
            </p>
            <p>
              <label for="message">MESSAGE</label>
              <textarea name="message" id="message" class="required"></textarea>
            </p>
            <p>
              <input type="submit" class="submit button primary" value="SEND">
            </p>
          </form>
        </div>
        <!-- END Contact Form -->

      </div>
      <div class="col-md-6">

        <!-- BEGIN Social -->
        <h2 class="section-title"><span><i class="icon-chat"></i>LET'S SOCIALIZE</span></h2>
        <ul class="social">
          <li><a class="facebook" href="#"></a></li>
          <li><a class="twitter" href="#"></a></li>
          <li><a class="linkedin" href="#"></a></li>
          <li><a class="github" href="#"></a></li>
          <li><a class="behance" href="#"></a></li>
          <li><a class="dribbble" href="#"></a></li>
          <li><a class="instagram" href="#"></a></li>
        </ul>
        <!-- END Social -->

        <!-- BEGIN Location -->
        <h2 class="section-title"><span><i class="icon-location"></i>LOCATION</span></h2>
        <div class="map">
          <div data-latitude="39.9661438" data-longitude="-86.130052" data-zoom="4" id="map-canvas" class="map-canvas"></div>
        </div>
        <!-- END Location -->

      </div>
    </div>

  </div>
</section>
<!-- END Contact Section -->
