<!-- BEGIN Resume Section -->
<section class="page" id="resume">
  <div class="content">

    <div class="row">
      <div class="col-md-6">

        <!-- BEGIN Timeline -->
        <div class="timeline">
          <h2><i class="fa fa-flask"></i>WORK HISTORY</h2>

          <div class="event current">
            <span class="date">2013</span>
            <h4>Director of Web Services</h4>
            <h5>SRI Incorporated</h5>
            <p>Founded and led a new department  operating out of a satellite office for SRI that focuses on bringing new products for local and county government to online markets. Responsible for the day-to-day operations, including hiring web professionals and mentoring them as full-stack javascript developers.</p>
            <p>Introduced Agile development principles to the company and led the department Scrum. Utilized JIRA to develop custom issue tracking, service ticket, and project requirements gathering forms &amp; reports.</p>
            <p>Architect and develop an online auction system with Node.js, Angular, MongoDB and Redis on the Amazon AWS platform with the intention of providing an online option to sales that SRI had traditionally done in person, allowing the company to expand outside of Indiana which it currently dominates.</p>
            <p>Create custom backend systems with Node.js and multiple data sources, leveraging Amazon AWS  for load-balancing and API management.  This aids the company with data warehousing, customer service, reporting and direct integrations into existing Salesforce and Desk.com software.</p>
            <p>Develop multi-platform internal customer service tools with Electron, Node.js, React and Amazon AWS. This platform was chosen to provide an interface to sensitive auction and financial information in a matter that was able to be fully controlled and monitored.</p>
          </div>


          <div class="event">
            <span class="date">2007</span>
            <h4>Software Engineer / Owner</h4>
            <h5>Mey Design / WiredGround</h5>
            <p>Developed a custom CMS software for resell to consulting clients that allowed for faster development times and a plugin based architecture. The software was used as a foundation and framework for development for almost every client.</p>
            <p>Developed for ITT Technical Institute / Daniel Webster College desktop and mobile web solutions, an Adobe Flash application and dynamic banner ads as part of a website rebranding and marketing push.</p>
            <p>Developed a data collection tool and administration system for AS2 Solutions that county governments utilized to collect homeowner sales disclosure forms, administrate the validation process, and communicated status information between users.</p>
            <p>Developed an online billing and management system for SRI Incorporated leveraging the Salesforce Marketing Cloud (ExactTarget) that allowed taxpayers to enroll, receive tax forms by email, pay online, and communicate with tax collectors.</p>
          </div>

          <div class="event">
            <span class="date">2003</span>
            <h4>Senior Application Developer / Director of IT</h4>
            <h5>Downey Creations</h5>
            <p>Developed security procedures and systems for a 60 million dollar inventory that resulted in record breaking improvements in asset tracking and increased chain of custody reporting.</p>
            <p>Designed and developed a replacement for a legacy system with a web based solution. This new system handled inventory management, travel scheduling, human resources management, and company financials.</p>
            <p>Developed a linux application to read and parse MicroVAX backup tapes and hard drives over a serial connection. All data was cleaned, validated, and brought on-line in a SQL Server environment.</p>
            <p>Oversaw the implementation of Microsoft Dynamics and developed custom functions and reports.</p>
          </div>

          <div class="event">
            <span class="date">2001</span>
            <h4>Senior Application Developer</h4>
            <h5>Batteries.com / Technuity</h5>
            <p>Worked within a team in the day-to-day development of the batteries.com e-commerce website.</p>
            <p>Developed and maintained internal applications for Batteries.com and Technuity intranets.</p>
            <p>Developed software used to transmit sales documents with b2b customers utilizing .Net technologies, EDI, and XML for companies such as Energizer, Walmart, Best Buy, and many other major retailers.</p>
            <p>Developed internal applications to facilitate credit card processing, operations management, product management, website image management, and warehouse management.</p>
            <p>Developed a software application that acted as a bridge between Gentran EDI server and Microsoft Navision financial software.</p>
          </div>
        </div>
        <!-- End Timeline -->

      </div>
      <div class="col-md-6">

        <!-- BEGIN Skills -->
        <h2 class="section-title"><span><i class="icon-cog-1"></i>DEVELOPMENT SKILLS</span></h2>
        <div class="skillset">
          <div class="skill-unit">
            <h4>JavaScript</h4>
            <div class="bar" data-percent="100">
              <div class="progress"></div>
            </div>
          </div>

          <div class="skill-unit">
            <h4>Node.js</h4>
            <div class="bar" data-percent="100">
              <div class="progress"></div>
            </div>
          </div>
        </div>
        <!-- END Development Skills -->

        <!-- BEGIN Database Skills -->
        <h2 class="section-title"><span><i class="icon-cog-1"></i>DATABASE SKILLS</span></h2>
        <div class="skillset">
          <div class="skill-unit">
            <h4>MongoDB</h4>
            <div class="bar" data-percent="100">
              <div class="progress"></div>
            </div>
          </div>

          <div class="skill-unit">
            <h4>Redis</h4>
            <div class="bar" data-percent="100">
              <div class="progress"></div>
            </div>
          </div>

          <div class="skill-unit">
            <h4>Hadoop</h4>
            <div class="bar" data-percent="33">
              <div class="progress"></div>
            </div>
          </div>
        </div>
        <!-- END Database Skills -->

        <!-- BEGIN Testimonials -->
        <h2 class="section-title"><span><i class="icon-comment"></i>TESTIMONIALS</span></h2>
        <div class="testo-group">
          <div class="testo">
            <img src="/img/testo/testo-01.jpg" alt="someone">
            <h4>John Doe <span>Professional Testimonial Writer</span></h4>
            <p>He is ok.</p>
          </div>

          <div class="testo">
            <img src="/img/testo/testo-02.jpg" alt="someone">
            <h4>Jane Doe <span>Lab Geek / Miami Metro</span></h4>
            <p>He is ok.</p>
          </div>

          <div class="testo">
            <img src="/img/testo/testo-03.jpg" alt="someone">
            <h4>John Doe <span>Lab Geek / Miami Metro</span></h4>
            <p>He is ok.</p>
          </div>
        </div>
        <!-- END Testimonials -->

        <!-- BEGIN Download -->
        <h2 class="section-title"><span><i class="icon-comment"></i>DOWNLOAD MY RESUME</span></h2>
        <p>You can download my resume in pdf format if you like. I currently work for SRI Incorporated. I create JavaScript full-stack web applications and lead an amazing team. I love what i do.</p>

        <div class="download-button">
          <a href="#" class="button primary">DOWNLOAD RESUME</a>
        </div>
        <!-- END Download -->

        <!-- BEGIN LinkedIn -->
        <h2 class="section-title"><span><i class="icon-linkedin"></i>VIEW MY LINKEDIN PROFILE</span></h2>

        <p>You can view my LinkedIn profile. I currently work for SRI Incorporated. I create JavaScript full-stack web applications and lead an amazing team. I love what i do.</p>

        <div class="download-button">
          <a href="https://www.linkedin.com/in/ericmey" target="_blank" class="button primary">MY LINKEDIN PROFILE</a>
        </div>
        <!-- END LinkedIn -->

      </div>
    </div>

  </div>
</section>
<!-- END Resume Section -->
