$color-conch: #cad2d7;
$color-black: #000;
$color-sail: #b3d4fc;
$color-celeste: #ccc;
$color-shadow: rgba(0, 0, 0, .004);
$color-wild-sand: #f3f4f5;
$color-nevada: #656a6f;
$color-amber: #ffc000;
$color-white: #fff;
$color-outer-space: #2d3438;
$color-limed-spruce: #3c4a52;
$color-gray-chateau: #a4aeb0;
$color-bon-jour: #e2e2e2;
$color-geyser: #d7dce3;
$color-mercury: #dde1e5;
$color-gallery: #ebedef;
$color-desert-storm: #f8f8f8;
$color-timberwolf: #d9d6cf;
$color-pewter: #969ca5;
$color-new-orleans: #efdca2;
$color-edward: #9fa6aa;
