body {
  font-size: 1em;
  line-height: 1.4;
  padding-bottom: 4em;
  text-shadow: 1px 1px 1px $color-shadow;
  font: 16px / 24px $font-roboto;
  background: $color-wild-sand;
}

::selection {
  background: $color-sail;
  text-shadow: none;
}

.chromeframe {
  margin: .2em 0;
  background: $color-celeste;
  color: $color-black;
  padding: .2em 0;
}

img {
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
  color: $color-nevada;

  &.btn {
    background-color: $color-amber;
    color: $color-white;
    @extend %extend-8;

    &:hover {
      background-color: $color-nevada;
      color: $color-white;
    }
  }

  img {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 250ms ease-in-out;
    opacity: 1;
    position: relative;

    &:hover {
      opacity: .6;
    }
  }

  &.small-btn {
    font-size: 14px;
    padding: .4em .9em;
  }

  &.xsmall-btn {
    font-size: 12px;
    padding: .2em .7em;
  }
}

ol {
  margin: 0;
  padding: 0;
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;

  > li {
    position: relative;
    list-style: none;
    margin: 0 0 0 1em;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 0;

    &:before {
      color: $color-amber;
      font-family: $font-roboto;
      font-weight: 400;
      content: counter(li) ".";
      counter-increment: li;
      position: absolute;
      top: -2px;
      left: -1.5em;
      //Instead of the line below you could use @include box-sizing($bs)
      box-sizing: border-box;
      width: 1.5em;
      margin-right: 8px;
      padding: 4px;
      text-align: center;
    }
  }

  ol li:last-child {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
}

html {
  color: $color-nevada;
}

input {
  color: $color-nevada;
}

select {
  color: $color-nevada;
  margin-bottom: 1em;
  margin-right: 6px;
}

textarea {
  color: $color-nevada;
  @extend %extend-9;
  width: 96%;
  height: 140px;
  display: block;
  resize: none;
  outline: none;

  &:focus {
    border: 1px solid $color-new-orleans;
  }
}

.main {
  ul {
    margin-bottom: 12px;

    li {
      @extend %extend-6;

      &:before {
        color: $color-amber;
        @extend %extend-7;
      }
    }
  }

  table {
    border: 1px solid $color-mercury;
    text-align: left;
    width: 100%;
    background: $color-white;

    th {
      color: $color-limed-spruce;
      padding: .5em;
      border: 1px solid $color-mercury;
      background-color: $color-gallery;
      vertical-align: top;
    }

    td {
      padding: .5em;
      border: 1px solid $color-mercury;
      vertical-align: top;
    }

    tr:nth-child(2n + 1) {
      background-color: $color-desert-storm;
    }
  }

  ol {
    margin-bottom: 12px;
    margin-left: 22px;
  }
}

h1 {
  color: $color-outer-space;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 66px;
  font-family: $font-roboto;
  font-weight: 900;

  span {
    color: $color-amber;
  }

  &:after {
    color: $color-amber;
    @extend %extend-4;
  }

  a {
    color: $color-outer-space;
  }
}

h2 {
  color: $color-outer-space;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 36px;
  margin-top: 15px;
  font-family: $font-roboto;
  font-weight: 700;

  span {
    color: $color-amber;
  }

  &:after {
    color: $color-amber;
    @extend %extend-4;
  }

  a {
    color: $color-outer-space;
  }
}

h3 {
  color: $color-outer-space;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 28px;
  font-family: $font-roboto;
  font-weight: 700;

  span {
    color: $color-amber;
  }

  &:after {
    color: $color-amber;
    @extend %extend-4;
  }

  a {
    color: $color-outer-space;
  }
}

h4 {
  color: $color-outer-space;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 24px;
  font-family: $font-roboto;
  font-weight: 700;

  span {
    color: $color-amber;
  }

  a {
    color: $color-outer-space;
  }
}

.highlight {
  color: $color-amber;
}

h5 {
  color: $color-amber;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 24px;
  font-family: $font-roboto;
  font-weight: 700;
}

h6 {
  color: $color-amber;
  word-wrap: break-word;
  @extend %extend-3;
  font-size: 14px;
  letter-spacing: 0;
  position: relative;
  font-family: $font-roboto;
  font-weight: 400;

  &.meta {
    top: -1.4em;
  }
}

.main-container {
  padding: 50px 0;

  a {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: $color-amber;
    }
  }
}

.more {
  color: $color-limed-spruce;
  font-family: $font-roboto;
  font-weight: 400;
  @extend %extend-6;

  &:before {
    color: $color-amber;
    @extend %extend-7;
  }
}

.cta {
  color: $color-white;
  margin-top: 18%;
  padding-bottom: 30px;
  font-size: 18px;

  a {
    color: $color-limed-spruce;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 250ms ease-in-out;
    font-family: $font-roboto;
    font-weight: 400;

    &:hover {
      color: $color-amber;
    }
  }

  h1 {
    color: $color-white;
    font-family: $font-roboto;
    font-size: 96px;
    margin-bottom: 15px;
    letter-spacing: -2px;

    &:after {
      content: none;
    }
  }

  h2 {
    color: $color-white;

    &:after {
      content: none;
    }
  }

  h4 {
    color: $color-white;
  }

  h5 {
    color: $color-white;
  }

  h3 {
    color: $color-bon-jour;
    font-family: $font-aleo;
    letter-spacing: 0;

    &:after {
      content: none;
    }
  }

  &.two-third {
    @extend %extend-2;
  }
}

.error[generated=true] {
  color: $color-amber;
  font-size: 14px;
  font-family: $font-roboto;
}

#response {
  .success {
    color: $color-outer-space;
  }

  .failure {
    color: $color-outer-space;
  }
}

strong {
  color: $color-limed-spruce;
  font-family: $font-roboto;
  font-weight: 400;
}

b {
  color: $color-limed-spruce;
  font-family: $font-roboto;
  font-weight: 400;
}

.lead {
  color: $color-limed-spruce;
  @extend %extend-5;
  margin-top: 0;
}

blockquote {
  color: $color-limed-spruce;
  @extend %extend-5;
  margin: 0 3% 3%;

  h6 {
    top: -1.4em;
  }

  &.right {
    margin: 0 3% 3%;
  }

  &.left {
    margin: 0 3% 3%;
  }
}

.logo {
  max-width: 131px;
  display: inline-block;
  float: left;

  img {
    width: 100%;
  }
}

.logo-foot {
  max-width: 45px;
  display: inline-block;
  padding-right: 5px;

  img {
    width: 100%;
  }
}

#masthead {
  background: $color-gray-chateau;
  display: block;
  height: 1050px;
}

.header-container {

  nav {
    float: right;
    margin-top: 10px;
  }

  header {
    padding-top: 60px;
    border-bottom: 1px solid $color-conch;
    padding-bottom: 45px;
  }

  .nav li {
    float: left;
    position: relative;
    padding: .4em;
  }
}

.tinynav {
  display: none;
  width: 100%;
  margin-top: .5em;
  margin-bottom: .6em;
}

.main-content {
  width: 65%;
  float: left;

  &.full {
    width: 100%;
    float: none;
  }

  img {
    @extend %extend-1;
  }
}

.right-aside {
  float: right;
  width: 24%;
  border-left: 1px solid $color-conch;
  padding-left: 4%;

  img {
    @extend %extend-1;
    width: 100%;
  }
}

.half {
  width: 47%;
  margin-right: 6%;
  float: left;
}

.third {
  width: 30%;
  margin-right: 5%;
  float: left;
}

.fourths {
  width: 22%;
  margin-right: 4%;
  float: left;
}

.two-third {
  @extend %extend-2;
}

.three-fourths {
  width: 74%;
  margin-right: 4%;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

p {
  word-wrap: break-word;
}

em {
  font-style: normal;
  font-family: $font-roboto;
}

hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid $color-conch;
  padding: 0;
  margin: 3em 0;

  &.dash {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px dashed $color-conch;
    margin: 3em 0;
    padding: 0;
  }

  &.dots {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px dotted $color-conch;
    margin: 3em 0;
    padding: 0;
  }
}

iframe {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1%;
  border-radius: 3px;
  background-color: $color-white;
  width: 98%;
}

.fluid-width-video-wrapper {
  margin-bottom: 1em;
  background-color: $color-white;

  iframe {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

li {
  ol {
    margin-top: 6px;
  }

  ul {
    margin-top: 6px;
  }
}

form {
  margin-top: 3em;
}

fieldset {
  padding: 1em;
  border-radius: 3px;
  border: 1px solid $color-timberwolf;
  margin-bottom: 1em;

  fieldset {
    background: $color-white;
  }
}

label {
  font-weight: 400;
  font-family: $font-roboto;
  padding-right: 1em;
  display: block;
}

input[type=text] {
  @extend %extend-9;

  &:focus {
    border: 1px solid $color-new-orleans;
  }
}

input[type=email] {
  @extend %extend-9;

  &:focus {
    border: 1px solid $color-new-orleans;
  }
}

input[type=password] {
  @extend %extend-9;

  &:focus {
    border: 1px solid $color-new-orleans;
  }
}

input[type=radio] {
  margin-bottom: 1em;
  margin-right: 6px;
}

input[type=checkbox] {
  margin-bottom: 1em;
  margin-right: 6px;
}

.social-link {
  width: 31px;
  opacity: .4;
  display: inline-block;
  transition: all 250ms ease-in-out;

  img {
    width: 100%;
  }

  &:hover {
    opacity: 1;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  &:after {
    clear: both;
  }
}

.last {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.tableless {
  @extend %extend-13;

  th {
    @extend %extend-13;
  }

  tr {
    @extend %extend-13;
  }

  td {
    @extend %extend-13;
  }
}

.footable.breakpoint > tbody > tr > td.expand:before {
  color: $color-amber;
}

nav a {
  &.active {
    background-color: $color-amber;
    color: $color-white;
  }

  &:hover {
    background-color: $color-nevada;
    color: $color-white;
  }
}

.nav a {
  color: $color-outer-space;
  font-family: $font-roboto-condensed;
  font-size: 20px;
  font-weight: 700;
  padding: .3em 1.2em;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  white-space: nowrap;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 250ms ease-in-out;
}

.success:before {
  color: $color-outer-space;
}

footer .wrapper {
  font-size: 14px;
  color: $color-edward;
  border-top: 1px solid $color-conch;
  padding: 50px 0;
  margin-top: 20px;
}
