$font-aleo: "Aleo", sans-serif;
$font-bullets: "Bullets";
$font-roboto: "Roboto", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;

$url-aleo-eot: url("../font/aleo-italic-webfont.eot?#iefix");
$url-aleo-woff: url("../font/aleo-italic-webfont.woff");
$url-aleo-ttf: url("../font/aleo-italic-webfont.ttf");
$url-aleo-svg: url("../font/aleo-italic-webfont.svg#aleoitalic");
$url-bullets-eot: url("../font/bullets-webfont.eot?#iefix");
$url-bullets-woff: url("../font/bullets-webfont.woff");
$url-bullets-ttf: url("../font/bullets-webfont.ttf");
$url-bullets-svg: url("../font/bullets-webfont.svg#bulletsregular");

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic,300italic|Roboto+Condensed:400,700);

@font-face {
  font-family: "Aleo";
  src: $url-aleo-eot format("embedded-opentype"), $url-aleo-woff format("woff"), $url-aleo-ttf format("truetype"), $url-aleo-svg format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bullets";
  src: $url-bullets-eot format("embedded-opentype"), $url-bullets-woff format("woff"), $url-bullets-ttf format("truetype"), $url-bullets-svg format("svg");
  font-weight: 400;
  font-style: normal;
}
