footer
  .main.wrapper.clearfix
    .foot.right
      a.social-link(href='https://www.facebook.com/ericmey', target='_blank')
        img(src='/img/icon-facebook@2x.png', alt='Facebook')
      | &nbsp;
      a.social-link(href='https://twitter.com/ericmey', target='_blank')
        img(src='/img/icon-twitter@2x.png', alt='Twitter')
      | &nbsp;
      a.social-link(href='https://www.linkedin.com/in/ericmey', target='_blank')
        img(src='/img/icon-linkedin@2x.png', alt='LinkedIn')
    .foot.left
      a.logo-foot(href='index.html')
        img(src='/img/logo-foot@2x.png', alt='logo')
      | &copy; Copyright {{ site.time | date: "%Y" }}
