<!DOCTYPE html>
<html lang="en" class="no-js one-page-layout" data-classic-layout="false" data-mobile-only-classic-layout="true" data-inAnimation="fadeInUp" data-outAnimation="fadeOutDownBig">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include header.meta.html %}
    {% include header.favicon.html %}
    {% include header.scripts.html %}
    {% include header.styles.html %}

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include content.header.html %}

    {% include section.about.html %}
    {% include section.projects.html %}
    {% include section.blog.html %}
    {% include section.contact.html %}
    {% include section.resume.html %}

    {% include content.footer.html %}

    {% include footer.scripts.html %}
  </body>
</html>
